* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 201, 243);
}

.logo {    
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 10px;
}

.show-planner-btn, .start-workout-btn {
    display: none;
    width: 200px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.7s;    
}

.main-container {
    margin: 20px auto;
    width: 95vw;   
}

.planner-container {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1s;        
}

.planner-header {
    text-align: center;
    margin-bottom: 15px;
}

.planner-btns {
    margin-bottom: 15px;
}

.add-exercise-btn, .hide-planner-btn {
    width: 200px;
    height: 40px;
}

.zones-form-container {
    width: 270px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.doNotKnowMyHrMax-container, .choose-ftp-input-container, .choose-hrMax-input-container, .ftp-container, .hrMax-container, .age-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.age-container {
    display: none;
}

.zones-type-form-input {
    width: 50px;    
}

.exercises-generator-container {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    
}

.add-exercise {
    width: 200px;
    height: 360px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid;
    margin: 0 5px 5px 0;
}

.zones-type-inputs, .duration-unit-inputs {
    display: flex;
    justify-content: space-evenly;
}

fieldset {
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.exercise-name-input-container, .duration-input-container, .lower-limit-input-container, .upper-limit-input-container,
.lower-cadence-limit-input-container, .upper-cadence-limit-input-container, .notes-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}

.number-input {
    width: 50px;
}

input[name=exerciseName] {
    width: 75px;
}

input[name=notes] {
    width: 135px;
}

.workout-details {
    display: flex;
    flex-direction: column;    
}

.workout-details-top-container, .workout-details-bottom-container {
    display: flex;
}

.side-labels, .empty {
    display: flex;
    flex-direction: column-reverse;
    width: 10%;
}

.side-labels div {
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.first-side-label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-labels {
    display: flex;
    width: 100%;    
}

.bottom-labels div {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.timeline-container {
    display: flex;
    align-items: flex-end;
    width: 100%;    
    height: 80px;    
    background-color: rgb(112, 161, 200);
    background-color: transparent;
}

.display-container {
    display: none;
    transition: opacity 1s;
    flex-direction: column;
}

.workout-in-progress-container {
    display: flex;
    flex-direction: column;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    justify-content: center;
    font-size: 12px;    
}

.second-row, .third-row {
    font-size: 16px;
}

h2 {
    margin: 5px 30px;
    width: 30%;
    text-align: center;
}

.seventh-row {
    display: flex;
    width: 100%;
}

.current-exe-name, .current-exe-cadence-zones, .current-exe-notes {
    display: none;
}